$green: #00e676;
$green-gradient: linear-gradient(90deg, #00e676, #2ecc71);
$black: #0a0a0a;
$dark-gray: #1a1a1a;
$light-gray: #bbbbbb;

$body-bg: $black;
$body-color: $light-gray;

/* HEADERS */
h1, h2, h3, h4 {
  background: $green-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

/* LINKS */
a {
  color: $green;
  transition: 0.3s;
}
a:hover {
  color: lighten($green, 15%);
}

/* SECTIONS */
.section {
  padding: 20px;
  background-color: $dark-gray;
  border-radius: 12px;
  border: 1px solid #0f0;
  margin-bottom: 25px;
}
